*.iml
.gradle
.idea
.DS_Store
/build
/captures
/local.properties
.externalNativeBuild

*.log
*.txt
app/.cxx/abi_configuration_1z65q4l5.json
app/.cxx/abi_configuration_1z65q4l5_key.json
app/.cxx/abi_configuration_31556315.json
app/.cxx/abi_configuration_31556315_key.json
app/.cxx/abi_configuration_5a395ltz.json
app/.cxx/abi_configuration_5a395ltz_key.json
app/.cxx/ndk_locator_record_173e3333.json
app/.cxx/ndk_locator_record_173e3333_key.json
app/.cxx/ndk_locator_record_2ct3ej3q.json
app/.cxx/ndk_locator_record_2ct3ej3q_key.json
app/.cxx/cmake/debug/arm64-v8a/.ninja_deps
app/.cxx/cmake/debug/arm64-v8a/.ninja_log
app/.cxx/cmake/debug/arm64-v8a/android_gradle_build.json
app/.cxx/cmake/debug/arm64-v8a/android_gradle_build_mini.json
app/.cxx/cmake/debug/arm64-v8a/build.ninja
app/.cxx/cmake/debug/arm64-v8a/build_model.json
app/.cxx/cmake/debug/arm64-v8a/cmake_install.cmake
app/.cxx/cmake/debug/arm64-v8a/compile_commands.json
app/.cxx/cmake/debug/arm64-v8a/json_generation_record.json
app/.cxx/cmake/debug/arm64-v8a/prefab_config.json
app/.cxx/cmake/debug/arm64-v8a/rules.ninja
app/.cxx/cmake/debug/arm64-v8a/CMakeFiles/cmake.check_cache
app/.cxx/cmake/debug/arm64-v8a/CMakeFiles/feature_tests.bin
app/.cxx/cmake/debug/arm64-v8a/CMakeFiles/feature_tests.c
app/.cxx/cmake/debug/arm64-v8a/CMakeFiles/feature_tests.cxx
app/.cxx/cmake/debug/arm64-v8a/CMakeFiles/3.10.2/CMakeCCompiler.cmake
app/.cxx/cmake/debug/arm64-v8a/CMakeFiles/3.10.2/CMakeCXXCompiler.cmake
app/.cxx/cmake/debug/arm64-v8a/CMakeFiles/3.10.2/CMakeDetermineCompilerABI_C.bin
app/.cxx/cmake/debug/arm64-v8a/CMakeFiles/3.10.2/CMakeDetermineCompilerABI_CXX.bin
app/.cxx/cmake/debug/arm64-v8a/CMakeFiles/3.10.2/CMakeSystem.cmake
app/.cxx/cmake/debug/arm64-v8a/CMakeFiles/media-handle.dir/src/main/cpp/audio_lame.c.o
app/.cxx/cmake/debug/arm64-v8a/CMakeFiles/media-handle.dir/src/main/cpp/audio_player.c.o
app/.cxx/cmake/debug/arm64-v8a/CMakeFiles/media-handle.dir/src/main/cpp/AVpacket_queue.c.o
app/.cxx/cmake/debug/arm64-v8a/CMakeFiles/media-handle.dir/src/main/cpp/fast_start.c.o
app/.cxx/cmake/debug/arm64-v8a/CMakeFiles/media-handle.dir/src/main/cpp/ffmpeg_cmd.c.o
app/.cxx/cmake/debug/arm64-v8a/CMakeFiles/media-handle.dir/src/main/cpp/ffmpeg_pusher.cpp.o
app/.cxx/cmake/debug/arm64-v8a/CMakeFiles/media-handle.dir/src/main/cpp/ffprobe_cmd.c.o
app/.cxx/cmake/debug/arm64-v8a/CMakeFiles/media-handle.dir/src/main/cpp/media_player.c.o
app/.cxx/cmake/debug/arm64-v8a/CMakeFiles/media-handle.dir/src/main/cpp/openSL_audio_player.c.o
app/.cxx/cmake/debug/arm64-v8a/CMakeFiles/media-handle.dir/src/main/cpp/video_filter.c.o
app/.cxx/cmake/debug/arm64-v8a/CMakeFiles/media-handle.dir/src/main/cpp/video_player.c.o
app/.cxx/cmake/debug/arm64-v8a/CMakeFiles/media-handle.dir/src/main/cpp/ffmpeg/cmdutils.c.o
app/.cxx/cmake/debug/arm64-v8a/CMakeFiles/media-handle.dir/src/main/cpp/ffmpeg/ffmpeg.c.o
app/.cxx/cmake/debug/arm64-v8a/CMakeFiles/media-handle.dir/src/main/cpp/ffmpeg/ffmpeg_filter.c.o
app/.cxx/cmake/debug/arm64-v8a/CMakeFiles/media-handle.dir/src/main/cpp/ffmpeg/ffmpeg_hw.c.o
app/.cxx/cmake/debug/arm64-v8a/CMakeFiles/media-handle.dir/src/main/cpp/ffmpeg/ffmpeg_opt.c.o
app/.cxx/cmake/debug/arm64-v8a/CMakeFiles/media-handle.dir/src/main/cpp/ffmpeg/ffprobe.c.o
app/.cxx/cmake/debug/armeabi-v7a/android_gradle_build.json
app/.cxx/cmake/debug/armeabi-v7a/android_gradle_build_mini.json
app/.cxx/cmake/debug/armeabi-v7a/build.ninja
app/.cxx/cmake/debug/armeabi-v7a/build_model.json
app/.cxx/cmake/debug/armeabi-v7a/cmake_install.cmake
app/.cxx/cmake/debug/armeabi-v7a/compile_commands.json
app/.cxx/cmake/debug/armeabi-v7a/json_generation_record.json
app/.cxx/cmake/debug/armeabi-v7a/prefab_config.json
app/.cxx/cmake/debug/armeabi-v7a/rules.ninja
app/.cxx/cmake/debug/armeabi-v7a/CMakeFiles/cmake.check_cache
app/.cxx/cmake/debug/armeabi-v7a/CMakeFiles/feature_tests.bin
app/.cxx/cmake/debug/armeabi-v7a/CMakeFiles/feature_tests.c
app/.cxx/cmake/debug/armeabi-v7a/CMakeFiles/feature_tests.cxx
app/.cxx/cmake/debug/armeabi-v7a/CMakeFiles/3.10.2/CMakeCCompiler.cmake
app/.cxx/cmake/debug/armeabi-v7a/CMakeFiles/3.10.2/CMakeCXXCompiler.cmake
app/.cxx/cmake/debug/armeabi-v7a/CMakeFiles/3.10.2/CMakeDetermineCompilerABI_C.bin
app/.cxx/cmake/debug/armeabi-v7a/CMakeFiles/3.10.2/CMakeDetermineCompilerABI_CXX.bin
app/.cxx/cmake/debug/armeabi-v7a/CMakeFiles/3.10.2/CMakeSystem.cmake
app/.cxx/cmake/release/arm64-v8a/android_gradle_build.json
app/.cxx/cmake/release/arm64-v8a/android_gradle_build_mini.json
app/.cxx/cmake/release/arm64-v8a/build.ninja
app/.cxx/cmake/release/arm64-v8a/build_model.json
app/.cxx/cmake/release/arm64-v8a/cmake_install.cmake
app/.cxx/cmake/release/arm64-v8a/compile_commands.json
app/.cxx/cmake/release/arm64-v8a/json_generation_record.json
app/.cxx/cmake/release/arm64-v8a/prefab_config.json
app/.cxx/cmake/release/arm64-v8a/rules.ninja
app/.cxx/cmake/release/arm64-v8a/CMakeFiles/cmake.check_cache
app/.cxx/cmake/release/arm64-v8a/CMakeFiles/feature_tests.bin
app/.cxx/cmake/release/arm64-v8a/CMakeFiles/feature_tests.c
app/.cxx/cmake/release/arm64-v8a/CMakeFiles/feature_tests.cxx
app/.cxx/cmake/release/arm64-v8a/CMakeFiles/3.10.2/CMakeCCompiler.cmake
app/.cxx/cmake/release/arm64-v8a/CMakeFiles/3.10.2/CMakeCXXCompiler.cmake
app/.cxx/cmake/release/arm64-v8a/CMakeFiles/3.10.2/CMakeDetermineCompilerABI_C.bin
app/.cxx/cmake/release/arm64-v8a/CMakeFiles/3.10.2/CMakeDetermineCompilerABI_CXX.bin
app/.cxx/cmake/release/arm64-v8a/CMakeFiles/3.10.2/CMakeSystem.cmake
app/.cxx/cmake/release/armeabi-v7a/android_gradle_build.json
app/.cxx/cmake/release/armeabi-v7a/android_gradle_build_mini.json
app/.cxx/cmake/release/armeabi-v7a/build.ninja
app/.cxx/cmake/release/armeabi-v7a/build_model.json
app/.cxx/cmake/release/armeabi-v7a/cmake_install.cmake
app/.cxx/cmake/release/armeabi-v7a/compile_commands.json
app/.cxx/cmake/release/armeabi-v7a/json_generation_record.json
app/.cxx/cmake/release/armeabi-v7a/prefab_config.json
app/.cxx/cmake/release/armeabi-v7a/rules.ninja
app/.cxx/cmake/release/armeabi-v7a/CMakeFiles/cmake.check_cache
app/.cxx/cmake/release/armeabi-v7a/CMakeFiles/feature_tests.bin
app/.cxx/cmake/release/armeabi-v7a/CMakeFiles/feature_tests.c
app/.cxx/cmake/release/armeabi-v7a/CMakeFiles/feature_tests.cxx
app/.cxx/cmake/release/armeabi-v7a/CMakeFiles/3.10.2/CMakeCCompiler.cmake
app/.cxx/cmake/release/armeabi-v7a/CMakeFiles/3.10.2/CMakeCXXCompiler.cmake
app/.cxx/cmake/release/armeabi-v7a/CMakeFiles/3.10.2/CMakeDetermineCompilerABI_C.bin
app/.cxx/cmake/release/armeabi-v7a/CMakeFiles/3.10.2/CMakeDetermineCompilerABI_CXX.bin
app/.cxx/cmake/release/armeabi-v7a/CMakeFiles/3.10.2/CMakeSystem.cmake
app/src/main/java/com/frank/ffmpeg/activity/TestActivity.kt
app/src/main/res/layout/first_activity.xml
Live/.cxx/abi_configuration_1z65q4l5.json
Live/.cxx/abi_configuration_1z65q4l5_key.json
Live/.cxx/abi_configuration_31556315.json
Live/.cxx/abi_configuration_31556315_key.json
Live/.cxx/abi_configuration_5a395ltz.json
Live/.cxx/abi_configuration_5a395ltz_key.json
Live/.cxx/ndk_locator_record_173e3333.json
Live/.cxx/ndk_locator_record_173e3333_key.json
Live/.cxx/cmake/debug/arm64-v8a/.ninja_deps
Live/.cxx/cmake/debug/arm64-v8a/.ninja_log
Live/.cxx/cmake/debug/arm64-v8a/android_gradle_build.json
Live/.cxx/cmake/debug/arm64-v8a/android_gradle_build_mini.json
Live/.cxx/cmake/debug/arm64-v8a/build.ninja
Live/.cxx/cmake/debug/arm64-v8a/build_model.json
Live/.cxx/cmake/debug/arm64-v8a/cmake_install.cmake
Live/.cxx/cmake/debug/arm64-v8a/compile_commands.json
Live/.cxx/cmake/debug/arm64-v8a/json_generation_record.json
Live/.cxx/cmake/debug/arm64-v8a/prefab_config.json
Live/.cxx/cmake/debug/arm64-v8a/rules.ninja
Live/.cxx/cmake/debug/arm64-v8a/CMakeFiles/cmake.check_cache
Live/.cxx/cmake/debug/arm64-v8a/CMakeFiles/feature_tests.bin
Live/.cxx/cmake/debug/arm64-v8a/CMakeFiles/feature_tests.c
Live/.cxx/cmake/debug/arm64-v8a/CMakeFiles/feature_tests.cxx
Live/.cxx/cmake/debug/arm64-v8a/CMakeFiles/3.10.2/CMakeCCompiler.cmake
Live/.cxx/cmake/debug/arm64-v8a/CMakeFiles/3.10.2/CMakeCXXCompiler.cmake
Live/.cxx/cmake/debug/arm64-v8a/CMakeFiles/3.10.2/CMakeDetermineCompilerABI_C.bin
Live/.cxx/cmake/debug/arm64-v8a/CMakeFiles/3.10.2/CMakeDetermineCompilerABI_CXX.bin
Live/.cxx/cmake/debug/arm64-v8a/CMakeFiles/3.10.2/CMakeSystem.cmake
Live/.cxx/cmake/debug/arm64-v8a/CMakeFiles/live.dir/src/main/cpp/AudioStream.cpp.o
Live/.cxx/cmake/debug/arm64-v8a/CMakeFiles/live.dir/src/main/cpp/RtmpPusher.cpp.o
Live/.cxx/cmake/debug/arm64-v8a/CMakeFiles/live.dir/src/main/cpp/VideoStream.cpp.o
Live/.cxx/cmake/debug/armeabi-v7a/android_gradle_build.json
Live/.cxx/cmake/debug/armeabi-v7a/android_gradle_build_mini.json
Live/.cxx/cmake/debug/armeabi-v7a/build.ninja
Live/.cxx/cmake/debug/armeabi-v7a/build_model.json
Live/.cxx/cmake/debug/armeabi-v7a/cmake_install.cmake
Live/.cxx/cmake/debug/armeabi-v7a/compile_commands.json
Live/.cxx/cmake/debug/armeabi-v7a/json_generation_record.json
Live/.cxx/cmake/debug/armeabi-v7a/prefab_config.json
Live/.cxx/cmake/debug/armeabi-v7a/rules.ninja
Live/.cxx/cmake/debug/armeabi-v7a/CMakeFiles/cmake.check_cache
Live/.cxx/cmake/debug/armeabi-v7a/CMakeFiles/feature_tests.bin
Live/.cxx/cmake/debug/armeabi-v7a/CMakeFiles/feature_tests.c
Live/.cxx/cmake/debug/armeabi-v7a/CMakeFiles/feature_tests.cxx
Live/.cxx/cmake/debug/armeabi-v7a/CMakeFiles/3.10.2/CMakeCCompiler.cmake
Live/.cxx/cmake/debug/armeabi-v7a/CMakeFiles/3.10.2/CMakeCXXCompiler.cmake
Live/.cxx/cmake/debug/armeabi-v7a/CMakeFiles/3.10.2/CMakeDetermineCompilerABI_C.bin
Live/.cxx/cmake/debug/armeabi-v7a/CMakeFiles/3.10.2/CMakeDetermineCompilerABI_CXX.bin
Live/.cxx/cmake/debug/armeabi-v7a/CMakeFiles/3.10.2/CMakeSystem.cmake
Live/.cxx/cmake/release/arm64-v8a/android_gradle_build.json
Live/.cxx/cmake/release/arm64-v8a/android_gradle_build_mini.json
Live/.cxx/cmake/release/arm64-v8a/build.ninja
Live/.cxx/cmake/release/arm64-v8a/build_model.json
Live/.cxx/cmake/release/arm64-v8a/cmake_install.cmake
Live/.cxx/cmake/release/arm64-v8a/compile_commands.json
Live/.cxx/cmake/release/arm64-v8a/json_generation_record.json
Live/.cxx/cmake/release/arm64-v8a/prefab_config.json
Live/.cxx/cmake/release/arm64-v8a/rules.ninja
Live/.cxx/cmake/release/arm64-v8a/CMakeFiles/cmake.check_cache
Live/.cxx/cmake/release/arm64-v8a/CMakeFiles/feature_tests.bin
Live/.cxx/cmake/release/arm64-v8a/CMakeFiles/feature_tests.c
Live/.cxx/cmake/release/arm64-v8a/CMakeFiles/feature_tests.cxx
Live/.cxx/cmake/release/arm64-v8a/CMakeFiles/3.10.2/CMakeCCompiler.cmake
Live/.cxx/cmake/release/arm64-v8a/CMakeFiles/3.10.2/CMakeCXXCompiler.cmake
Live/.cxx/cmake/release/arm64-v8a/CMakeFiles/3.10.2/CMakeDetermineCompilerABI_C.bin
Live/.cxx/cmake/release/arm64-v8a/CMakeFiles/3.10.2/CMakeDetermineCompilerABI_CXX.bin
Live/.cxx/cmake/release/arm64-v8a/CMakeFiles/3.10.2/CMakeSystem.cmake
Live/.cxx/cmake/release/armeabi-v7a/android_gradle_build.json
Live/.cxx/cmake/release/armeabi-v7a/android_gradle_build_mini.json
Live/.cxx/cmake/release/armeabi-v7a/build.ninja
Live/.cxx/cmake/release/armeabi-v7a/build_model.json
Live/.cxx/cmake/release/armeabi-v7a/cmake_install.cmake
Live/.cxx/cmake/release/armeabi-v7a/compile_commands.json
Live/.cxx/cmake/release/armeabi-v7a/json_generation_record.json
Live/.cxx/cmake/release/armeabi-v7a/prefab_config.json
Live/.cxx/cmake/release/armeabi-v7a/rules.ninja
Live/.cxx/cmake/release/armeabi-v7a/CMakeFiles/cmake.check_cache
Live/.cxx/cmake/release/armeabi-v7a/CMakeFiles/feature_tests.bin
Live/.cxx/cmake/release/armeabi-v7a/CMakeFiles/feature_tests.c
Live/.cxx/cmake/release/armeabi-v7a/CMakeFiles/feature_tests.cxx
Live/.cxx/cmake/release/armeabi-v7a/CMakeFiles/3.10.2/CMakeCCompiler.cmake
Live/.cxx/cmake/release/armeabi-v7a/CMakeFiles/3.10.2/CMakeCXXCompiler.cmake
Live/.cxx/cmake/release/armeabi-v7a/CMakeFiles/3.10.2/CMakeDetermineCompilerABI_C.bin
Live/.cxx/cmake/release/armeabi-v7a/CMakeFiles/3.10.2/CMakeDetermineCompilerABI_CXX.bin
Live/.cxx/cmake/release/armeabi-v7a/CMakeFiles/3.10.2/CMakeSystem.cmake
*.o
